body {
    margin: 0;
    font-family: Helvetica, Arial;
    background: #ffffff;
    color: #000000;
}

#pageTitle {
    padding: 50px;
    background: #000;
    color: #fff;
}

div#toolbar {
    position: absolute;
    top: 5px;
}

div#toolbar div#leftItem {
    left: 15px;
}

div#toolbar div#rightItem {
    right: 15px;
}

div#content .list ul > li {
    list-style-type: none;   
}