<div id="pageTitle">
    <h1>Droid</h1>
</div>
        
<div id="toolbar">
    <div id="leftItem" class="buttonItem"><a href="#">Sync</a></div>
    <% if SyncEngine::logged_in > 0 %>
      <div id="rightItem" class="buttonItem"><%=link_to "Logout", :controller => :Settings, :action => :logout%></div>
	<% else %>
      <div id="rightItem" class="buttonItem"><%=link_to "Login", :controller => :Settings, :action => :login%></div>
	<% end %>
</div>

<div id="content">
    <div class="list">
        <ul class="simple_list">
            <li>
                <a href="<%= url_for(:controller => :Todo, :action => :index) %>">
                    <span class="title">Todo</span>
                    <span class="discloser_indicator"></span>
                </a>
            </li>
        </ul>
    </div>
</div>