<div id="pageTitle">
            <h1>Droid</h1>
        </div>
        
        <div id="toolbar">
            <div id="leftItem" class="buttonItem"><a href="#">Sync</a></div>
            <div id="rightItem" class="buttonItem"><a href="#">Logout</a></div>
        </div>
        
        <div id="content">
            <div class="list">
                <ul class="iphone_list">
                    <li>
                        <a href="#">
                            <span class="title">Enter text here...</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="title">Enter text here...</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="title">Enter text here...</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="title">Enter text here...</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="title">Enter text here...</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="title">Enter text here...</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="title">Enter text here...</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="title">Enter text here...</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="title">Enter text here...</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="title">Enter text here...</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="title">Enter text here...</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="title">Enter text here...</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="title">Enter text here...</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="title">Enter text here...</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="title">Enter text here...</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="title">Enter text here...</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="title">Enter text here...</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="title">Enter text here...</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>